@use "../abstracts/" as *;

.form_page {
    width: 100%;
    position: relative;
    min-height: 100%;
    background-color: $black-primary;

    @include display_flex(row, center, center);
}

.form_container {
    margin-top: 80px;
    margin-bottom: 10px;
    box-sizing: border-box;

    @include display_flex(row, space-between, center);

    @media (max-width: $tablet) {
        @include display_flex(column, flex-end, space-between);
    }

    .section_form_text {
        p {
            font-family: $second-font;
        }
        color: $white-primary;
        flex: 1;
        @include display_flex(column, center, flex-start);

        .register_title {
            padding: 0;
            height: auto;
            @include display_flex(row, center, flex-end);

            p {
                @include adaptiveValue("font-size", 20, 16);
                margin-left: 15px;
            }
        }
    }

    .section_form {
        box-sizing: border-box;
        @include adaptiveValue("padding", 30, 20);
        @include adaptiveValue("font-size", 20, 16);

        flex: 1;

        background-color: $white-primary;

        border-radius: 5px;

        @media (max-width: $tablet) {
            width: 100%;
            margin-top: 40px;
            flex: 2;
        }
    }
}
