@use 'sass:math';

@use './abstracts/' as *;
@use './layout/index_layout';
@use './components/index';
@use './pages/index_pages';

@if ($responsiveType == 1) {
  [class*='_container'] {
    @if ($maxWidthContainer > 0) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @if ($containerPadding > 0) {
      @if ($maxWidthContainer > 0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue(
          'padding-left',
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          'padding-right',
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  [class*='_container'] {
    margin: 0 auto;
    @if ($maxWidthContainer) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding > 0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
  }
}
